



<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<h1> Please choose test </h1>
	</div>
</div>

	<p>Your email: {{email}}</p>
			 
<div class="row" ng-controller="json">
	
	
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<nav class="navbar navbar-default navbar-fixed-left" role="navigation">
			<ul class="nav navbar-nav navbar-left nav-pills nav-stacked">
				<div >
					<div ng-repeat="i in questions">
						<div ng-repeat="j in i.ouestions_content">
							<ul  style="list-style-type:none">
								<li > <a onclick="scrollWin()"  href="#" > 	{{j.ouestions_no}} </a> </li>
								<p> </P>
							</ul>
						</div>
					</div>
				</div>
			</ul>	
		</nav>
	</div>
			
			
<script>
function scrollWin() {
    window.scrollTo(0, 5000);
}
</script>
	

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<div>
			<div ng-repeat="i in questions">
				<div ng-repeat="j in i.ouestions_content">
					<div id="j-{{$index}}" >
					 	Questions nr {{j.ouestions_no}} {{j.ouestions_text}}
					 </div>
						<div ng-if="j.option.length==0" >
							<textarea class="form-control" rows="5"></textarea>
						</div>
							<ul ng-repeat="k in j.option" > 
							
								<div class="input-group">
									{{k}} 
									<input type="checkbox">
								</div>
						
							</ul>
				</div>
				
			</div>
		</div>
	</div>
	
		
</div>